[defaults]
inventory = /dev/null
localhost_warning = False
roles_path = ./roles
retry_files_enabled = False
callback_plugins = ./callback_plugins
stdout_callback = beautiful_output
bin_ansible_callbacks = True
display_skipped_hosts = True
display_ok_hosts = True
host_key_checking = False
interpreter_python = auto_silent
